<html layout:decorate="frontend/layouts/default_layout">
<head>
    <title>Service</title>
</head>
<body>
    
    <div class="container mt-5" layout:fragment="content">
        <h1>Service Page</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque quam impedit alias accusamus nulla quibusdam aperiam reiciendis. Alias nihil voluptas eum eos impedit explicabo mollitia libero atque modi, corporis, illo molestias, accusantium sequi placeat necessitatibus hic animi neque dolore aut molestiae sed! Corporis soluta accusantium ut? Cupiditate accusantium quis perspiciatis?</p>
    </div>
    
</body>
</html>